.chat {
  width: 500px;
  margin: 0 auto;
}

.msg-content {
  height: 400px;
  background-color: #efefef;
  overflow-y: auto;
}

.msg-content .msg-item {
  background-color: #00a8ed;
  color: #fff;
  width: 90%;
  border-radius: 25px;
  margin: 24px auto;
  padding: 5px 10px;
  position: relative;
}

.msg-content .msg-item label {
  position: absolute;
  bottom: -16px;
  color: #000;
  font-size: 12px;
}
